.about{
    align-items: center;
    text-align: center;
    width: 100vw;
 }
 #schools ul {
    list-style: none;
    margin: 10;
    padding: 10;
    display: inline-flex
  }
  
  p{
 
    font-family: elevon, sans-serif;
    font-style: normal;
    background:rgba(15, 15, 15, 0.95);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    
  }