.card {
    box-shadow: 0 8px 16px 0 white;
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: black;
  }
  
  .card:hover {
    box-shadow: 0 16px 32px 0 white;
    background-color: black;
  }

  a img:last-child {
    display: none;  
  }
  a:hover img:last-child {
    display: block;  
    
  }
  a:hover img:first-child {
    display: none;  
  }
